@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100vw;
  height: 100vh;
  background-color: #f4f4f4;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", serif;
}
